body {
  font-family: 'Compacta', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px; /* Adjusted font size */
}

header {
  background-color: #000;
  color: #FF3D00;
  text-align: center;
  padding: 0.5em; /* Adjusted padding */
}

h1 {
  margin: 0;
  color: #FF3D00;
}

section {
  max-width: 600px; /* Adjusted max-width */
  margin: auto;
  padding: 15px; /* Adjusted padding */
}

#poster img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Adjusted border-radius */
}

#info {
  background-color: #000;
  color: #FFF;
  padding: 15px; /* Adjusted padding */
  border-radius: 8px;
}

footer {
  background-color: #333;
  color: #FFF;
  text-align: center;
  padding: 0.5em; /* Adjusted padding */
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav {
  margin-top: 8px; /* Adjusted margin-top */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
  border-radius: 8px;
}

li {
  margin: 0 8px; /* Adjusted margin */
}

a {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  font-size: 12px; /* Adjusted font size */
}
